---
layout: default
---
<main class="content">
<section class="container">
   <div class="row-fluid">
      {% include menu.html param="post" %}
      <!--article class="home-icon">
         <a href="/">
            <i class="icon-home"></i>
         </a>
      </article-->
      <article class="post">
         <h2 class="content">{{page.titleCN}}</h2>
         <div class="post_date">{{ page.date | date: "%d %B %Y" }}</div>
         <section>
            {{ content }}
            <hr>
         </section>
         {% include share.html %}
         <section style="margin-bottom: 2em;">
            {% if page.previous %}
            <a rel="prev" class="a-hover"href="{{ page.previous.url.replace('/', '') }}"><i class="icon-arrow-left"></i> {{ page.previous.title }}</a>
            {% endif %}
            {% if page.next %}
            <a rel="next" style="float:right" class="a-hover"href="{{ page.next.url.replace('/', '') }}">{{ page.next.title }} <i class="icon-arrow-right"></i></a>
            {% endif %}
         </section>
      </article>
      <div id="disqus_thread"></div>
   </div>
</section>
</main>
